@model List<Core.Challenge.Application.ViewModels.ReporteFigura>
@*
    @model List<Core.Challenge.Application.ViewModels.ReportShapesViewModel>
*@
@{
    ViewData["Title"] = "Reporte";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<h2>Tabla de reporte de formas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Forma</th>
            <th>Area</th>
            <th>Perimetro</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            Model.FirstOrDefault().Lenguaje.MsjListaVacia.ToString();
        }  
        else { 
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CantidadDeFormas</td>
                    <td>@item.Figura.Name</td>
                    <td>@item.SumaAreaForma.ToString("#.##")</td>
                    <td>@item.SumaPerimetroForma.ToString("#.##")</td>
                </tr>
            }
        }
    </tbody>
</table>

